.featureCard {
  border-top: 2px solid #e3f2ff;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  height: 100%;

  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}

.featureCard:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1) !important;

  transform: scale(1.01);
  -webkit-transform: scale(1.01);
}

.featureCardImage {
  width: 48px;
  height: 48px;
  margin: var(--ifm-card-vertical-spacing) 0 0
    var(--ifm-card-horizontal-spacing);
  overflow: hidden;
}

.titleIconsRow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.titleIconsRowTitle {
  flex: 1;
}

.titleIconsRowIcons {
  flex-grow: 0;
  flex-shrink: 0;
}

.tagIcon {
  margin: 0.2rem;
  user-select: none;
}

.course_feature_link {
  color: var(--ifm-color-content);
}

.course_feature_link:hover {
  color: inherit;
  text-decoration: none;
}
