.checkboxContainer {
  display: flex;
  align-items: flex-start;
  /* padding: 5px 5px 5px 0; */
  user-select: none;
  vertical-align: bottom;
}

.checkboxContainer,
.checkboxContainer > * {
  cursor: pointer;
  margin-bottom: 0;
  margin-left: 0;
}

.checkboxContainer input {
  zoom: 1.35;
}

.checkboxContainer label {
  margin-left: 0.2rem;
  text-overflow: ellipsis;
}

@media screen and (max-width: 996px) {
  .checkboxContainer input {
    zoom: 1.1;
  }
}
