/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #203a43;
  --ifm-color-primary-dark: #1d343c;
  --ifm-color-primary-darker: #1b3139;
  --ifm-color-primary-darkest: #16292f;
  --ifm-color-primary-light: #23404a;
  --ifm-color-primary-lighter: #25434d;
  --ifm-color-primary-lightest: #2a4b57;

  --ifm-code-font-size: 95%;
}

html,
body {
  font-family: "Nunito Sans", "Iran Sans";
  font-weight: 400;
  color: var(--ifm-color-primary);
}

h1 {
  font-size: 2.4rem !important;
}

h2 {
  font-size: 1.9rem !important;
}

h3 {
  font-size: 1.3rem !important;
}

p {
  text-align: justify;
}

.button {
  background: white;
}

img {
  border-radius: var(--ifm-global-radius);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

/* hash-link */

.hash-link {
  padding-left: 0 !important;
  padding-right: 0.5rem;
}

.hash-link:focus,
*:hover > .hash-link {
  opacity: 0.25 !important;
}

/* Footer */

.footer__logo {
  max-width: 2rem;
}

/* Navbar */

.dropdown > .navbar__link:after {
  border-radius: var(--ifm-global-radius);
}

/* CodeBlock */

.codeBlockContainer_K1bP {
  direction: ltr;
}

.codeBlockLines_39YC {
  float: right !important;
}

.copyButton_Ue-o {
  right: unset !important;
  left: calc(var(--ifm-pre-padding) / 2) !important;

  font-family: "Nunito Sans", "Iran Sans";
  font-size: 0.6rem;
}

/*
.menu--responsive .menu__button {
  background: var(--ifm-color-secondary);
  right: auto;
  left: 1rem;
  z-index: 1;
}
 */

/* DocsPagination */

/*
.pagination-nav__item + .pagination-nav__item {
  margin-left: 0;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: left;
}
 */

/* TOC */

/*
.table-of-contents,
.table-of-contents ul {
  padding-left: 0;
  padding-right: var(--ifm-toc-padding-left);
}

.table-of-contents__left-border {
  border-left: none;
  border-right: 1px solid var(--ifm-toc-border-color);
}
 */

/* Admonitions */

/*
.admonition-icon {
  margin-right: 0;
  margin-left: 0.2rem;
}
 */

/* Blog */

/*
.avatar__photo + .avatar__intro {
  margin-left: 0;
  margin-right: var(--ifm-avatar-intro-margin);
}
 */

/* Fonts */

/* Iran Sans V5.5 Web - UltraLight */
@font-face {
  font-family: "Iran Sans";
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/IRANSans5.5/IRANSansWeb_UltraLight.eot"),
    /* IE9 Compat Modes */
      url("/fonts/IRANSans5.5/IRANSansWeb_UltraLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/IRANSans5.5/IRANSansWeb_UltraLight.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("/fonts/IRANSans5.5/IRANSansWeb_UltraLight.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/IRANSans5.5/IRANSansWeb_UltraLight.ttf")
      format("truetype");
}

/* Iran Sans V5.5 Web - Light*/
@font-face {
  font-family: "Iran Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/IRANSans5.5/IRANSansWeb_Light.eot"),
    /* IE9 Compat Modes */
      url("/fonts/IRANSans5.5/IRANSansWeb_Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/IRANSans5.5/IRANSansWeb_Light.woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("/fonts/IRANSans5.5/IRANSansWeb_Light.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/IRANSans5.5/IRANSansWeb_Light.ttf")
      format("truetype");
}

/* Iran Sans V5.5 Web*/
@font-face {
  font-family: "Iran Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IRANSans5.5/IRANSansWeb.eot"),
    /* IE9 Compat Modes */ url("/fonts/IRANSans5.5/IRANSansWeb.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/IRANSans5.5/IRANSansWeb.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/IRANSans5.5/IRANSansWeb.woff")
      format("woff"),
    /* Modern Browsers */ url("/fonts/IRANSans5.5/IRANSansWeb.ttf")
      format("truetype");
}

/* nunito-sans- */
/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe03MImSLYBIv1o4X1M8cc9yAs5tU1ECVZl_.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunitosans/v6/pe0qMImSLYBIv1o4X1M8cce9I9tAcVwo.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
