:root {
  --ifm-color-primary: #0366d6;
  --ifm-color-primary-dark: #035cc1;
  --ifm-color-primary-darker: #0357b6;
  --ifm-color-primary-darkest: #024796;
  --ifm-color-primary-light: #0370eb;
  --ifm-color-primary-lighter: #0375f6;
  --ifm-color-primary-lightest: #1e86fc;

  --ifm-code-font-size: 95%;
  --ifm-color-content: #525f7f;
  --ifm-heading-color: #2d294f;

  --ifm-font-family-base: "IRANSansX", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --ifm-heading-font-family: "IRANSansX", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  --ifm-card-color: #fff;
}

button {
  font-family: "IRANSansX", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.footer {
  background: var(--ifm-navbar-background-color);
  color: #a4a4a4;
  font-family: "IRANSansX";
  font-size: 0.8rem;
  padding: calc(var(--ifm-footer-padding-vertical) * 1 / 2)
    var(--ifm-footer-padding-horizontal);
  border-top: 1px solid var(--ifm-toc-border-color);
}

img {
  border-radius: calc(var(--ifm-global-radius) / 2);
}

/* Sidebar */

[class^="button button--secondary button--outline collapseSidebarButton_1CGd"] {
  border-bottom: unset !important;
}

/* Navbar */

.dropdown > .navbar__link:after {
  border-radius: var(--ifm-global-radius);
}

/* CodeBlock */

.codeBlockTitle_eoMF {
  /*rtl:ignore*/
  direction: ltr;
}

.copyButton_Ue-o {
  /*rtl:begin:ignore*/
  left: unset !important;
  right: calc(var(--ifm-pre-padding) / 2) !important;
  /*rtl:end:ignore*/
}

.tabs {
  /*rtl:begin:ignore*/
  direction: ltr;
  padding-left: 0;
  padding-right: unset;
  /*rtl:end:ignore*/
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 0.6rem;
    padding: calc(var(--ifm-footer-padding-vertical) * 1 / 3)
      var(--ifm-footer-padding-horizontal);
  }
}

/* Fonts */

/* Yekan Web*/
@font-face {
  font-family: "yekan";
  font-style: normal;
  src: url("/fonts/yekan/yekan.eot"),
    /* IE9 Compat Modes */ url("/fonts/yekan/yekan.eot?#iefix")
      format("embedded-opentype"),
    /* Super Modern Browsers */ url("/fonts/yekan/yekan.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/yekan/yekan.ttf") format("truetype");
  unicode-range: U+0600-06FF;
}

/* IRANSansX Web*/
@font-face {
  font-family: "IRANSansX";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/IRANSansX/woff/IRANSansX-Regular.woff") format("woff"),
    url("/fonts/IRANSansX/woff2/IRANSansX-Regular.woff2") format("woff2");
  /* unicode-range: U+0600-06FF; */
}
